<div class="container">
  <div>
    <button (click)="onClickMetaMask()">
      Connect MetaMask
    </button>
    <div *ngIf="isMetaMask">Account: {{ connectedAccount | async }}</div>
    <div *ngIf="isMetaMask">Network: {{ currentNetwork | async }}</div>
    <div>Block: {{ currentBlockNumber }}</div>

    <br>
    <button (click)="onClickTransfer()">
      Transfer
    </button>

    <br>
    <button (click)="onClickSwitchNetwork()">
      Switch network
    </button>

    <br>
    <button (click)="onClickDisconnect()">
      Disconnect
    </button>
  </div>

  <div>
    <button (click)="onClickWalletConnect()">
      WalletConnect
    </button>
    <div *ngIf="!isMetaMask">Account: {{ connectedAccount | async }}</div>
    <div *ngIf="!isMetaMask">Network: {{ currentNetwork | async }}</div>
    <div>Block: {{ currentBlockNumber }}</div>

    <br>
    <button (click)="onClickTransfer()">
      Transfer
    </button>

    <br>
    <button (click)="onClickSwitchNetwork()">
      Switch network
    </button>

    <br>
    <button (click)="onClickDisconnect()">
      Disconnect
    </button>
  </div>
</div>
